@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Shizuru&family=Tajawal:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Tajawal", sans-serif;
}

body {
	  font-family: "Tajawal", sans-serif;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

.dark-mode {
  background-color: #3f3d47;
  color: white;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #3361C5;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
  color: #fff;
  font-weight: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: left;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}
.nav > .nav-links > ul li a{
  display: block;
  padding: 0 8px;
  color: #fff;
  line-height: 40px;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
}
.nav > .nav-links > ul{
  padding: 0;
  margin-top: 5px;
  list-style: none;
  position: relative;
}
.nav > .nav-links > ul li{
  display: inline-block;
  background-color: #3361C5;
}
.nav > .nav-links > ul li:hover{
    background-color: #3361C5;
    border-radius: 10px;
}

.nav > #nav-check {
  display: none;
}

.nav .nav-links ul a.icon{
margin-left: 80px;
margin-right: 10px;
}

.nav .nav-links ul a i{
  background-color: #fff;
  border-radius: 50px;
  padding: 7px;
  margin-left: 5px;
}


@media (max-width:750px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 1;
  }
  .nav > .nav-links > ul li a {
    display: block;
    width: 100%;
  }

    .nav > .nav-links > ul li{
      display: block;
      margin-bottom: 20px;
      padding: 0;
      background-color: #333;

    }
    .nav > .nav-links > ul li a{
        margin-left: 40%;
    }
    .nav .nav-links ul a.icon{
      margin-left: 33%;
    }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
  
.hr{
	border: 2px #0D7BF2 solid;
	margin-bottom: 30px;
}


#dark{
    font-size: 22px;
    border: #000 1px solid;
    border-radius: 15px;
    padding: 4px 4px 4px 4px;
    background-color: #0D7BF2;
    color: #fff;
 }

 #textarea{
    width: 99%;
    height: 300px;
    background-color: #191919;
    color: white;
    border: #000 2px solid;
    border-radius: 10px;
 }

 #buttun{
    width: 99%;
    margin-bottom: 6px;
    background-color: #333;
    font-size: 20px;
    color: #fff;
    border: #000 2px solid;
    border-radius: 10px;
 }
 
 #output{
    width: 99%;
    height: 300px;
    background-color:#333;
    color:white;
    border: #000 2px solid;
    border-radius: 10px;
 }