@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Shizuru&family=Tajawal:wght@300;400&display=swap');

*{
  font-family: "Tajawal", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header{
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px ;
}

.logo{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.8em;
}

.navgiation a{
 color: #000;
 text-decoration: none;
 font-size: 1.4em;
 font-weight: 500;
 padding-left: 30px;
}

.navgiation a:hover{
  color: #0D7BF2;
}

  
.hr{
	border: 2px #0D7BF2 solid;
	margin-bottom: 30px;
}


#dark{
    font-size: 22px;
    border: #000 1px solid;
    border-radius: 15px;
    padding: 4px 4px 4px 4px;
    background-color: #0D7BF2;
    color: #fff;
 }

 #textarea{
    width: 99%;
    height: 300px;
    background-color: #191919;
    color: white;
    border: #000 2px solid;
    border-radius: 10px;
 }

 #buttun{
    width: 99%;
    margin-bottom: 6px;
    background-color: #333;
    font-size: 20px;
    color: #fff;
    border: #000 2px solid;
    border-radius: 10px;
 }
 
 #output{
    width: 99%;
    height: 300px;
    background-color:#333;
    color:white;
    border: #000 2px solid;
    border-radius: 10px;
 }