@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Changa:wght@200..800&family=Kufam:ital,wght@0,400..900;1,400..900&family=Markazi+Text:wght@400..700&family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Sans+Arabic:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ruwudu:wght@400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&family=Zain:wght@200;300;400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Almarai:wght@300;400;700;800&family=Baloo+Bhaijaan+2:wght@400..800&family=Cairo:wght@200..1000&family=Changa:wght@200..800&family=Kufam:ital,wght@0,400..900;1,400..900&family=Markazi+Text:wght@400..700&family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Sans+Arabic:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ruwudu:wght@400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&family=Zain:wght@200;300;400;700;800;900&display=swap');

*{
  font-family: "Zain", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0,1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.animation-box {
  text-align: center;
  color: white;
  font-size: 2rem;
  transform: scale(0);
  animation: fadeInUp 1s forwards;
}

.content {
  display: none;
  padding: 20px;
  text-align: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.loader, .loader:before, .loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}


::selection {
  color: #717171;
  background-color: #4c3fe2;
}

.container{
   margin: 0 7rem;
   height: 100vh;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

#home{
  height: 120vh;
  background: linear-gradient(to right, #4D48DF, #511AA0);
  color: #fff;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

nav .logo{
  width: 55px;
  transition: all 0.4s;
  border-radius: 50px;
}

nav .logo:hover{
  transform: translateY(-10px);
}

nav ul{
  display: flex;
  align-items: center;
}

nav ul a{
  color: #fff;
  padding: 30px;
  font-size: 22px;
  transition: all 0.4s;
}

nav ul a:hover{
  color: #252525;
}

.title{
  text-align: center;
  font-size: 38px;
}

.card {
  width: 350px;
  height: 330px;
  background: rgb(44, 44, 44);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  overflow: hidden;
}

.card__title {
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(167, 159, 159);
  font-size: 1.3rem;
}

.card__data {
  font-size: 0.99rem;
  display: flex;
  justify-content: space-between;

}

.card__right {
  width: 350px;
  height: 300px;
}

.card__left {
  width: 350px;
  height: 300px;
  text-align: end;
}

.item {
  padding: 3px 0;
  background-color: #005ce6;
  color: #fff;
  margin: 5%;
}

.card__right .item {
  padding-left: 0.8em;
  border-radius: 8px;
  padding-bottom: 55px;
  background-color: #005ce6;
  color: #fff;
}

.card__left .item {
  padding-right: 0.8em;
  border-radius: 8px;
  background-color: #005ce6;
  color: #fff;
}

.item:nth-child(even) {
  background: rgb(234, 235, 234);
}


/* Tablet */
@media (max-width: 900px) {
  .container {
    margin: 0 1rem;
  }

  nav ul a{
    padding: 10px;
  }

  #home .content{
    flex-direction: column;
    text-align: center;
    padding: 2rem 0 0;
  }

  #home .content .content-text {
    margin-bottom: 2rem;
  }

  #home .content .content-text p{
    width: 100%;
  }

  #home .content img{
    width: 290px;
    margin-bottom: 10px;
  }

  .social{
    margin-left: 0;
    margin-bottom: 35px;
  }
}

/* Mobile*/

@media (max-width: 600px) {
  #home{
    height: 110vh;
  }

  nav .logo{
    width: 0;
    height: 0;
  }

  nav{
    display: block;
  }

  nav .logo{
    display: block;
    margin: 0 auto 15px ;
  }

  nav ul {
    justify-content: center;
  }

  nav ul a{
    font-size: 12px;
  }

  .ai{
    margin-top: 15px;
  }

  .social i{
  display: inline;
  margin: 15px;
  }
}
