@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Shizuru&family=Tajawal:wght@300;400&display=swap');

*{
    font-family: "Tajawal", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navgiation a{
   color: #000;
   text-decoration: none;
   font-size: 1.4em;
   font-weight: 500;
   padding-left: 30px;
}

.navgiation a:hover{
    color: #0D7BF2;
}

.html{
	font-size: 40px;
	color: #337CFF;
	text-align: center;
}

.video{
	border-radius: 14px;
	margin-left: 10px;
}

.hr{
	border: 2px #0D7BF2 solid;
}


button {
	border: none;
	display: block;
	position: relative;
	padding: 0.7em 2.4em;
	font-size: 18px;
	background: transparent;
	cursor: pointer;
	user-select: none;
	overflow: hidden;
	color: royalblue;
	z-index: 1;
	font-family: inherit;
	font-weight: 500;
   }

   
   button span::before {
	content: "";
	display: block;
	position: absolute;
	width: 8%;
	height: 500%;
	background: var(--lightgray);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-60deg);
	transition: all 0.3s;
   }
   
   button:hover span::before {
	transform: translate(-50%, -50%) rotate(-90deg);
	width: 100%;
	background: #FBCA1F;
   }
   
   button:hover {
	color: white;
   }
   
   button:active span::before {
	background: #FBCA1F;
   }

   .ch{
	color: #F32C2C;
	text-decoration: none;
	font-size: 20px;
}


.edit{
   text-align: left;
   text-decoration: none;
   color: #337CFF;
   font-size: 20px;
   border: #0D7BF2 2px solid;
   border-radius: 10px;
   border-right-color: #0D7BF2;
   border-left-color: #0D7BF2;
   border-top: red;
}

@media screen and (max-width: 767px) {
 .edit{
	text-align: left;
	text-decoration: none;
	color: #337CFF;
	font-size: 20px;
	border: #0D7BF2 2px solid;
	border-radius: 10px;
	border-right-color: #0D7BF2;
	border-left-color: #0D7BF2;
	border-top: red;
	margin-left: 150px;
}

.video{
	border: 6px #0D7BF2 solid;
	border-radius: 10px;
	margin-left: 10px;
	width: 340px;
	height: 300px;
}
}
 
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	background-color: #2051FC;
	overflow-x: hidden;
	transition: 0.3s;
	padding-top: 60px;
	font-size: 20px;
  }
  
  .sidenav h1 {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 22px;
	color: #fff;
	display: block;
	transition: 0.2s;
  }
  
  .sidenav h1:hover {
	color: #000;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  

.title{
	text-align: center;
	color: white;
	margin-bottom: 50px;
	padding-top: 1px;
	padding-bottom: 2px;
}

.sub{
	color: white;
	font-size: 20.2px;
    border: #000 2px solid;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	transition: 0.7s ease;
}

.sub:hover{
	transform: scale(1.1);
}

#dark{
	font-size: 22px;
	border: #000 1px solid;
	border-radius: 15px;
	padding: 4px 4px 4px 4px;
	background-color: #2171C9;
	color: #fff;
 }