@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Shizuru&family=Tajawal:wght@300;400&display=swap');

*{
	margin:0;
	padding:0;
  }
  body {
	  font-family: "Tajawal", sans-serif;;
	font-size:16px;
  }

  .dark-mode {
	background-color: #2A2D30;
	color: white;
  }  

  .nav {
	height: 50px;
	width: 100%;
	background-color: #1177ca;
	position: relative;
  }
  
  .nav > .nav-header {
	display: inline;
  }
  
  .nav > .nav-header > .nav-title {
	display: inline-block;
	font-size: 30px;
	margin-left: 10px;
	color: #fff;
	font-weight: 10px;
	margin-bottom: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	float: left;
  }
  
  .nav > .nav-btn {
	display: none;
  }
  
  .nav > .nav-links {
	display: inline;
	float: right;
	font-size: 18px;
  }
  .nav > .nav-links > ul li a{
	display: block;
	padding: 0 8px;
	color: #fff;
	line-height: 40px;
	font-size: 24px;
	text-decoration: none;
	text-align: center;
  }
  .nav > .nav-links > ul{
	padding: 0;
	margin-top: 5px;
	list-style: none;
	position: relative;
  }
  .nav > .nav-links > ul li{
	display: inline-block;
	background-color: #1177ca;
  }
  .nav > .nav-links > ul li:hover{
	  background-color: #0b65af;
	  border-radius: 5px;
  }
  
  .nav > #nav-check {
	display: none;
  }
  
  .nav .nav-links ul a.icon{
  margin-left: 80px;
  margin-right: 10px;
  }
  
  .nav .nav-links ul a i{
	background-color: #fff;
	border-radius: 50px;
	padding: 7px;
	margin-left: 5px;
  }
  
  
  @media (max-width:750px) {
	.nav > .nav-btn {
	  display: inline-block;
	  position: absolute;
	  right: 0px;
	  top: 0px;
	}
	.nav > .nav-btn > label {
	  display: inline-block;
	  width: 50px;
	  height: 50px;
	  padding: 13px;
	}
	.nav > .nav-btn > label > span {
	  display: block;
	  width: 25px;
	  height: 10px;
	  border-top: 2px solid #eee;
	}
	.nav > .nav-links {
	  position: absolute;
	  display: block;
	  width: 100%;
	  background-color: #333;
	  height: 0px;
	  transition: all 0.3s ease-in;
	  overflow-y: hidden;
	  top: 50px;
	  left: 0px;
	  z-index: 1;
	}
	.nav > .nav-links > ul li a {
	  display: block;
	  width: 100%;
	}
  
	  .nav > .nav-links > ul li{
		display: block;
		margin-bottom: 20px;
		padding: 0;
		background-color: #333;
  
	  }
	  .nav > .nav-links > ul li a{
		  margin-left: 40%;
	  }
	  .nav .nav-links ul a.icon{
		margin-left: 33%;
	  }
	.nav > #nav-check:not(:checked) ~ .nav-links {
	  height: 0px;
	}
	.nav > #nav-check:checked ~ .nav-links {
	  height: calc(100vh - 50px);
	  overflow-y: auto;
	}
  }

.html{
	font-size: 40px;
	color: #337CFF;
	text-align: center;
}

.video{
	border-radius: 14px;
	margin-left: 10px;
}

.hr{
	border: 2px #0D7BF2 solid;
}


button {
	border: none;
	display: block;
	position: relative;
	padding: 0.7em 2.4em;
	font-size: 18px;
	background: transparent;
	cursor: pointer;
	user-select: none;
	overflow: hidden;
	color: royalblue;
	z-index: 1;
	font-family: inherit;
	font-weight: 500;
   }

   
   button span::before {
	content: "";
	display: block;
	position: absolute;
	width: 8%;
	height: 500%;
	background: var(--lightgray);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-60deg);
	transition: all 0.3s;
   }
   
   button:hover span::before {
	transform: translate(-50%, -50%) rotate(-90deg);
	width: 100%;
	background: #FBCA1F;
   }
   
   button:hover {
	color: white;
   }
   
   button:active span::before {
	background: #FBCA1F;
   }

   .ch{
	color: #F32C2C;
	text-decoration: none;
	font-size: 20px;
}


.edit{
   text-align: left;
   text-decoration: none;
   color: #337CFF;
   font-size: 20px;
   border: #0D7BF2 2px solid;
   border-radius: 10px;
   border-right-color: #0D7BF2;
   border-left-color: #0D7BF2;
   border-top: red;
}

@media screen and (max-width: 767px) {
 .edit{
	text-align: left;
	text-decoration: none;
	color: #337CFF;
	font-size: 20px;
	border: #0D7BF2 2px solid;
	border-radius: 10px;
	border-right-color: #0D7BF2;
	border-left-color: #0D7BF2;
	border-top: red;
	margin-left: 150px;
}

.video{
	border: 6px #0D7BF2 solid;
	border-radius: 10px;
	margin-left: 10px;
	width: 340px;
	height: 300px;
}
}
 
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	background-color: #2051FC;
	overflow-x: hidden;
	transition: 0.3s;
	padding-top: 60px;
	font-size: 20px;
  }
  
  .sidenav h1 {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 22px;
	color: #fff;
	display: block;
	transition: 0.2s;
  }
  
  .sidenav h1:hover {
	color: #000;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  

.title{
	text-align: center;
	color: white;
	margin-bottom: 50px;
	padding-top: 1px;
	padding-bottom: 2px;
}

.sub{
	color: white;
	font-size: 20.2px;
    border: #000 2px solid;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	transition: 0.7s ease;
}

.sub:hover{
	transform: scale(1.1);
}

#dark{
	font-size: 22px;
	border: #000 1px solid;
	border-radius: 15px;
	padding: 4px 4px 4px 4px;
	background-color: #2171C9;
	color: #fff;
 }