@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Changa:wght@200..800&family=Kufam:ital,wght@0,400..900;1,400..900&family=Markazi+Text:wght@400..700&family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Sans+Arabic:wght@100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ruwudu:wght@400;500;600;700&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

body{
  background: linear-gradient(to right, #d0d0d0, #FFB923);
}

.title{
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 15px 20px 40px #fff;
  margin-top: 40px;
  font-family: "Tajawal", serif;
}

.container form{
  background-color: #3d3b3b;
  color: #252525;
  width: 450px;
  height: 655px;
  padding: 20px 20px;
  border-radius: 15px;
  margin-top: 3%;
  font-family: "Tajawal", serif;
  box-shadow: 25px 25px 40px rgba(0, 0, 0, 0.5);
}

.container input,::placeholder{
  padding: 5px 5px;
  width: 300px;
  height: 30px;
  margin-left: 135px;
  border-radius: 10px;
  padding-right: 5%;
  background-color: #fcb103;
  color: #fff;
  font-size: 21px;
  font-family: "Tajawal", serif;
}

.login {
  background: #252525;
  margin-top: 7%;
  margin-bottom: 2%;
  padding: 5px 10px;
  width: 240px;
  height: 40px;
  border: #252525 1px solid;
  border-radius: 7px;
  font-family: "Tajawal", serif;
}

.login a{
  color: #fff;
  text-decoration: none;
  font-size: 21px;
  font-family: "Tajawal", serif;
}

.google{
  text-align: center;
  padding: 10px 10px;
  background: #252525;
  margin-bottom: 2%;
  padding: 5px 10px;
  border: #252525 1px solid;
  border-radius: 7px;
  color: #fff;
  font-size: 18px;
  font-family: "Tajawal", serif;
}

.svg{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding-top: 2%;
}

.text{
  font-family: "Tajawal", serif;
  color: #d4d4d4;
  font-size: 23px;
}