@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Kufam:ital,wght@0,400..900;1,400..900&family=Markazi+Text:wght@400..700&family=Ruwudu:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Kufam:ital,wght@0,400..900;1,400..900&family=Markazi+Text:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ruwudu:wght@400;500;600;700&display=swap');


body{
  background: #252525;
}

.title{
  color: #FFB923;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 15px 20px 40px #fff;
  margin-top: 40px;
  font-family: "Alexandria", sans-serif;
}

.container form{
  background-color: #e4e2e2;
  color: #252525;
  width: 350px;
  height: 420px;
  padding: 20px 20px;
  border: #e4e2e2 1px solid;
  border-radius: 15px;
  margin-top: 3%;
  font-family: "Alexandria", sans-serif;
}

.container input{
  padding: 5px 5px;
  width: 300px;
  height: 30px;
  color: #fff;
  border: #fff 1px solid;
  border-radius: 10px;
  padding-right: 5%;
  background-color: #252525;
  font-size: 20px;
  font-family: "Alexandria", sans-serif;
  font-family: "Raleway", sans-serif;
}

.login {
  background: #252525;
  margin-top: 7%;
  margin-bottom: 2%;
  padding: 5px 10px;
  width: 240px;
  height: 40px;
  border: #252525 1px solid;
  border-radius: 7px;
  font-family: "Alexandria", sans-serif;
}

.login a{
  color: #fff;
  text-decoration: none;
  font-size: 21px;
  font-family: "Alexandria", sans-serif;
}

.google{
  text-align: center;
  padding: 10px 10px;
  background: #252525;
  margin-bottom: 2%;
  padding: 5px 10px;
  border: #252525 1px solid;
  border-radius: 7px;
  color: #fff;
  font-size: 18px;
  font-family: "Alexandria", sans-serif;
}

.svg{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  padding-top: 2%;
}

.text{
  font-family: "Alexandria", sans-serif;
}