
*{
  margin:0;
  padding:0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  font-size:16px;
  background-color: #3f3d47;
}

.dark-mode {
  background-color: #3f3d47;
  color: white;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #3361C5;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
  color: #fff;
  font-weight: 10px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: left;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}
.nav > .nav-links > ul li a{
  display: block;
  padding: 0 8px;
  color: #fff;
  line-height: 40px;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
}
.nav > .nav-links > ul{
  padding: 0;
  margin-top: 5px;
  list-style: none;
  position: relative;
}
.nav > .nav-links > ul li{
  display: inline-block;
  background-color: #3361C5;
}
.nav > .nav-links > ul li:hover{
    background-color: #3361C5;
    border-radius: 5px;
}

.nav > #nav-check {
  display: none;
}

.nav .nav-links ul a.icon{
margin-left: 80px;
margin-right: 10px;
}

.nav .nav-links ul a i{
  background-color: #fff;
  border-radius: 50px;
  padding: 7px;
  margin-left: 5px;
}


@media (max-width:750px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 1;
  }
  .nav > .nav-links > ul li a {
    display: block;
    width: 100%;
  }

    .nav > .nav-links > ul li{
      display: block;
      margin-bottom: 20px;
      padding: 0;
      background-color: #333;

    }
    .nav > .nav-links > ul li a{
        margin-left: 40%;
    }
    .nav .nav-links ul a.icon{
      margin-left: 33%;
    }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

#price {
  text-align: center;
  margin-top: 40px;
}

.plan {
  display: inline-block;
  margin: 10px 1%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.plan-inner {
  background: #3f3d47;
  margin: 0 auto;
  min-width: 280px;
  max-width: 100%;
  position:relative;
}

.entry-title {
  background: #F2530F;
  height: 140px;
  width: 300px;
  position: relative;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  border-radius: 15px;
  border: #000 2px solid;
  border-top: #fff;
  border-left: #fff;
  border-right: #fff;
  border-width: 5px;
}

.entry-title>h3 {
  background: #FF7336;
  font-size: 20px;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  border-radius: 15px;
}

.entry-title .price {
  position: absolute;
  bottom: -25px;
  background: #333;
  height: 95px;
  width: 95px;
  margin: 0 auto;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50px;
  border: 5px solid #fff;
  line-height: 80px;
  font-size: 28px;
  font-weight: 700;
}

.price span {
  position: absolute;
  font-size: 22px;
  bottom: -10px;
  left: 25px;
  font-weight: 400;
}

.entry-content {
  color: #fff;
}

.entry-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.entry-content p {
  border-bottom: 1px solid #E5E5E5;
  padding: 10px 0;
  font-size: 16px;
}

.entry-content li:last-child {
  border: none;
}

.btn {
  padding: 3em 0;
  text-align: center;
  transition: 0.7s ease;
}

.btn:hover{
  transform: scale(1.1);
}

.btn a {
  background: #0D7BF2;
  border-radius: 15px;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn a:hover{
  background-color: #333;
}

/* .hot {
    position: absolute;
    top: -7px;
    background: #F80;
    color: #fff;
    text-transform: uppercase;
    z-index: 2;
    padding: 2px 5px;
    font-size: 9px;
    border-radius: 2px;
    right: 10px;
    font-weight: 700;
} */
.basic .entry-title {
  background: #1180FA;
}

.basic .entry-title > h3 {
  background: #58A8FF;
}

.basic .price {
  background: #333;
}

.standard .entry-title {
  background: #F4F40F;
}

.standard .entry-title > h3 {
  background: #F4FB4D;
}

.standard .price {
  background: #333;
}

.ultimite .entry-title > h3 {
  background: #7806E1;
}

.ultimite .entry-title {
  background: #B465FC;
  margin-right: 20px;
}

.ultimite .price {
  background: #333;
}	
 

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: #45E569;
	color:#FFF;
	border-radius:30px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
	margin-top:16px;
}


.title1{
	color: black;
	font-size: 30px;
}

.title1:hover{
	color: #0D7BF2;
	font-size: 40px;
}

.learn{
  text-align: center;
  border: #0D7BF2 2px solid;
  border-radius: 15px;
  font-size: 28px;
  width: 200px;
  height: 40px;
  color: #fff;
}