@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Shizuru&family=Tajawal:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Tajawal", sans-serif;
}

body {
	  font-family: "Tajawal", sans-serif;
    color: #000;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #1177ca;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 30px;
  margin-left: 10px;
  color: #fff;
  font-weight: 10px;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: left;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}
.nav > .nav-links > ul li a{
  display: block;
  padding: 0 8px;
  color: #fff;
  line-height: 40px;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
}
.nav > .nav-links > ul{
  padding: 0;
  margin-top: 5px;
  list-style: none;
  position: relative;
}
.nav > .nav-links > ul li{
  display: inline-block;
  background-color: #1177ca;
}
.nav > .nav-links > ul li:hover{
    background-color: #0b65af;
    border-radius: 5px;
}

.nav > #nav-check {
  display: none;
}

.nav .nav-links ul a.icon{
margin-left: 80px;
margin-right: 10px;
}

.nav .nav-links ul a i{
  background-color: #fff;
  border-radius: 50px;
  padding: 7px;
  margin-left: 5px;
}


@media (max-width:750px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    z-index: 1;
  }
  .nav > .nav-links > ul li a {
    display: block;
    width: 100%;
  }

    .nav > .nav-links > ul li{
      display: block;
      margin-bottom: 20px;
      padding: 0;
      background-color: #333;

    }
    .nav > .nav-links > ul li a{
        margin-left: 40%;
    }
    .nav .nav-links ul a.icon{
      margin-left: 33%;
    }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

 /* Heor styling */
.hero {
    background-color: #f8f7fc;
  }
  
  .hero-section {
    max-width: 1366px;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 5rem;
  }
  
  .hero-section .content {
    display: flex;
    flex-direction: column;
  }
  
  .hero-section .content h4 {
    color: #0D7BF2;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  
  .hero-section .content h1 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
  }
  
  .hero-section .content p {
    font-size: 1.4rem;
  }
  
  .hero-section .content p span.purple {
    color: #0D7BF2;
  }
  
  .hero-section form {
    display: flex;
  }
  .btn {
    width: 10rem;
    margin-top: 3rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    padding: 0.75rem 1.5rem;
    background-color: #0D7BF2;
    transition: 0.7s ease;
    font-family: "Tajawal", sans-serif;
  }
  
  .btn:hover {
    background-color: #333333;
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .btn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
  }
  

.welcome{
	text-align: center;
	margin-bottom: 0px;
}

.welcome:hover{
	color: #0D7BF2;
}

  
.hr{
	border: 2px #0D7BF2 solid;
	margin-bottom: 30px;
}
  

.have{
	text-align: center;
	color: #0D7BF2;
	margin-bottom: 6px;
}


@media only screen and (max-width: 414px) { 
	.welcome{
		text-align: center;
		margin-bottom: 40px;
		right: 0%;
		left: 93%;
	}
	.mean1{
		font-size: 30px;
	}
	.mean{
		margin-top: 60px;
		color: #0D7BF2;
	}
 }

.mean{
	margin-top: 100px;
	margin-bottom: 5px;
	color: #0D7BF2;
	text-align: center;
}

.mean1{
	font-size: 30px;
	margin-bottom: 10px;
	text-align: center;
}



.account{
	color: #000;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 5 60px;
	margin-top: 60px;
    font-family: "Tajawal", sans-serif;;
}

.account::after {
   content: "";
   width: 100px;
   position: absolute;
   margin: 0 auto;
   height: 4px;
   border-radius: 1px;
   background: #0D7BF2;
   left: 0;
   right: 0;
   bottom: -20px;
}

.count {
    color: black;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#container1{
	width: 180px;
    border: 1px solid black;
	border-width: 0.1px;
    padding: 2px 2px 2px 2px;
    border-radius: 15px;
    font-family: "Tajawal", sans-serif;
    line-height: 44px;
    color: #333333;
    font-size: 14px;
    background: #fff;
    float: center;
    text-align: center;
    font-family: "Tajawal", sans-serif;
	transition: 0.7s ease;
	margin-top: 40px;
}

#container1:hover{
	transform: scale(1.1);
}

.follow{
	text-decoration: none;
	font-size: 20px;
	color: black;
  font-family: "Tajawal", sans-serif;
	transition: 0.7s ease;
}

.follow:hover{
	font-size: 24px;
	transform: scale(1.1);
}

.more{
	text-align: center;
	margin-top: 10px;
	font-size: 30px;
	outline: none;
	border: #000;
	width: 70px;
	height: 40px;
	border-radius: 5px;
	background-color: #0D7BF2;
}

.more1{
	text-decoration: none;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.more1:hover{
	color: #ED2623;
}


.more:hover{
	border: #000 2px solid;
}

section.features {
    padding: 2rem 0;
    background-color: #f8f7fc;
  }
  
  section.features .features-section {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .features-section h4 {
    color: #0D7BF2;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  
  .features-section .qualities {
    display: flex;
    justify-content: space-between;
  }
  
  .features-section .qualities .quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    max-width: 17rem;
    border-radius: 1rem;
    margin: 1rem 1rem;
    transition: 0.7s ease;
  }
  
  .features-section .qualities .quality:hover {
    border: 2px solid #0D7BF2;
    transform: scale(1.1);

  }
  
  .qualities .quality i {
    font-size: 2rem;
    color: #0D7BF2;
    margin-bottom: 1rem;
  }
  
  .qualities .quality h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  
  .qualities .quality p {
    font-size: 1.2rem;
    text-align: center;
    color: #333333;
  }

/* Responsive Design */
@media (max-width: 1300px) {
    h4 {
      font-size: 85%;
    }
  }
  
  @media (max-width: 1175px) {
    h4 {
      font-size: 110%;
    }
  }
  
  @media (max-width: 1000px) {
    * {
      text-align: center;
    }
    .hero img {
      display: none;
    }
    .hero-section {
      align-items: center;
      padding: 2rem 0rem;
      width: 50%;
    }
    .hero .btn {
      align-self: center;
    }
    .hero .content {
      margin-top: 2rem;
    }
    .features-section .qualities {
      flex-wrap: wrap;
      justify-content: center;
    }
    section.features .features-section {
      align-items: center;
    }
    .phones-section h4 {
      align-self: center;
    }
  }
  
  @media (max-width: 660px) {
    .hero-section .content h1 {
      font-size: 2rem;
    }
    .phones-section {
      align-items: center;
    }
    .phones-section .phones {
      grid-template-columns: 1fr 1fr;
    }
  }

.why{
    width: 300px;
    transition: 0.7s ease;
}

.why:hover{
    transform: scale(1.1);
}

a {
  text-decoration: none;
  color: #fff;
}
p > a:hover{
  color: #d9d9d9;
  text-decoration:  underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin:  1% 0 1% 0;
}
._12 {
  font-size: 1.2em;
}
._14 {
  font-size: 1.4em;
}
ul {
  padding:0;
  list-style: none;
}
.footer-social-icons {
  width: 350px;
  display:block;
  margin: 0 auto;
}
.social-icon {
  color: #fff;
}
ul.social-icons {
  margin-top: 10px;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 100px;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}

table{
  border-collapse: collapse;
  width: 100%;
  border: #fff 2px solid;
  border-radius: 15px;
}

th{
   height: 30px;
   text-align: center;
   vertical-align: top;
   background-color: #0D7BF2;
   font-size: 17px;
}

th, td{
   padding: 10px;
   text-align: center;
   border-bottom: 1px solid #ddd; 
}

tr:nth-child(even){
   background-color: #f5f1f1;
}

tr:nth-child(odd){
   background-color: #d6d3d3;
}