@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Shizuru&family=Tajawal:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
	  font-family: "Tajawal", sans-serif;
}

nav{
    height: 6rem;
    width: 100vw;
    background-color: #0D7BF2;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
}

/*Styling logo*/
.logo{
    padding:1vh 1vw;
    text-align: center;
}
.logo img {
    height: 5rem;
    width: 5rem;
	border-radius: 10px;
    border: #000 3px solid;
}

.logo img:hover{
	opacity: 0.8;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
	font-size: 25px;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
	color: white;
}
.nav-links li a:hover {
    color: #13EDEF;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
    width: 80%;
}


/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 80%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


/* Heor styling */
.hero {
    background-color: #f8f7fc;
  }
  
  .hero-section {
    max-width: 1366px;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 5rem;
  }
  
  .hero-section .content {
    display: flex;
    flex-direction: column;
  }
  
  .hero-section .content h4 {
    color: #0D7BF2;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  
  .hero-section .content h1 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
  }
  
  .hero-section .content p {
    font-size: 1.4rem;
  }
  
  .hero-section .content p span.purple {
    color: #0D7BF2;
  }
  
  .hero-section form {
    display: flex;
  }
  .btn {
    width: 10rem;
    margin-top: 3rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    padding: 0.75rem 1.5rem;
    background-color: #0D7BF2;
    transition: 0.7s ease;
    font-family: "Tajawal", sans-serif;
  }
  
  .btn:hover {
    background-color: #333333;
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .btn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
  }
  

.welcome{
	text-align: center;
	margin-bottom: 0px;
}

.welcome:hover{
	color: #0D7BF2;
}

  
.hr{
	border: 2px #0D7BF2 solid;
	margin-bottom: 30px;
}
  

.have{
	text-align: center;
	color: #0D7BF2;
	margin-bottom: 6px;
}


@media only screen and (max-width: 414px) { 
	.welcome{
		text-align: center;
		margin-bottom: 40px;
		right: 0%;
		left: 93%;
	}
	.mean1{
		font-size: 30px;
	}
	.mean{
		margin-top: 60px;
		color: #0D7BF2;
	}
 }

.mean{
	margin-top: 100px;
	margin-bottom: 5px;
	color: #0D7BF2;
	text-align: center;
}

.mean1{
	font-size: 30px;
	margin-bottom: 10px;
	text-align: center;
}



.account{
	color: #000;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 5 60px;
	margin-top: 60px;
}

.account::after {
   content: "";
   width: 100px;
   position: absolute;
   margin: 0 auto;
   height: 4px;
   border-radius: 1px;
   background: #0D7BF2;
   left: 0;
   right: 0;
   bottom: -20px;
}

.count {
    color: black;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#container1{
	width: 180px;
    border: 1px solid black;
	border-width: 1px;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 50px;
    color: #333333;
    font-size: 14px;
    background: #ffffff;
    float: center;
    text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	transition: 0.7s ease;
	margin-top: 40px;
}

#container1:hover{
	transform: scale(1.1);
}

.follow{
	text-decoration: none;
	font-size: 20px;
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	transition: 0.7s ease;
}

.follow:hover{
	font-size: 24px;
	transform: scale(1.1);
}

.more{
	text-align: center;
	margin-top: 10px;
	font-size: 30px;
	outline: none;
	border: #000;
	width: 70px;
	height: 40px;
	border-radius: 5px;
	background-color: #0D7BF2;
}

.more1{
	text-decoration: none;
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.more1:hover{
	color: #ED2623;
}


.more:hover{
	border: #000 2px solid;
}

section.features {
    padding: 2rem 0;
    background-color: #f8f7fc;
  }
  
  section.features .features-section {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .features-section h4 {
    color: #0D7BF2;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  
  .features-section .qualities {
    display: flex;
    justify-content: space-between;
  }
  
  .features-section .qualities .quality {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    max-width: 17rem;
    border-radius: 1rem;
    margin: 1rem 1rem;
  }
  
  .features-section .qualities .quality:hover {
    border: 2px solid #0D7BF2;

  }
  
  .qualities .quality i {
    font-size: 2rem;
    color: #6e0aef;
    margin-bottom: 1rem;
  }
  
  .qualities .quality h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  
  .qualities .quality p {
    font-size: 1.2rem;
    text-align: center;
    color: #333333;
  }

/* Responsive Design */
@media (max-width: 1300px) {
    h4 {
      font-size: 85%;
    }
  }
  
  @media (max-width: 1175px) {
    h4 {
      font-size: 110%;
    }
  }
  
  @media (max-width: 1000px) {
    * {
      text-align: center;
    }
    .hero img {
      display: none;
    }
    .hero-section {
      align-items: center;
      padding: 2rem 0rem;
      width: 50%;
    }
    .hero .btn {
      align-self: center;
    }
    .hero .content {
      margin-top: 2rem;
    }
    .features-section .qualities {
      flex-wrap: wrap;
      justify-content: center;
    }
    section.features .features-section {
      align-items: center;
    }
    .phones-section h4 {
      align-self: center;
    }
  }
  
  @media (max-width: 660px) {
    .hero-section .content h1 {
      font-size: 2rem;
    }
    .phones-section {
      align-items: center;
    }
    .phones-section .phones {
      grid-template-columns: 1fr 1fr;
    }
  }

.why{
    border: #0D7BF2 2px solid;
    border-radius: 15px;
    width: 300px;
    transition: 0.7s ease;
}

.why:hover{
    transform: scale(1.1);
}