@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Shizuru&family=Tajawal:wght@300;400&display=swap');

*{
    font-family: "Tajawal", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navgiation a{
   color: #000;
   text-decoration: none;
   font-size: 1.4em;
   font-weight: 500;
   padding-left: 30px;
}

.navgiation a:hover{
    color: #0D7BF2;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #0D7BF2;
    text-align: center;
    justify-content: center;
}

.main h2{
    color: #fff;
    font-size: 2em;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 9px;
    color: #14F44A;
    font-size: 2.4em;
    font-weight: 600;
}

.main h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.learn-btn{
    color: #fff;
    background-color: #078FFA;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 20px;
    transition: 0.7s ease;
}

.learn-btn:hover{
    background-color: #086EF0;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.what{
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
}

.Subject .Mean{
    text-align: center;
    font-size: 29px;
    color: #0D7BF2; 
    margin-bottom: 5px;
}

.Subject h3{
    text-align: center;
    margin-top: 5px;
    font-size: 27px;
}

.Subject h3 span{
    color: #14F44A;
}


.learn{
    background-color: #0D7BF2;
    padding-top: 5px;
}

.learn .title {
    color: #ffffff;
    padding-top: 2em;
    white-space: nowrap;
    text-align: right;
}


.project-card{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    min-height: 14em;
    width: 18em;
    overflow: hidden;
    border-radius: 10px;
    margin: 25px;
    transition: 0.7s ease;
    margin-bottom: 50PX;
}


.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.9;
    
}

.project-image img{
    width: 100%;
}


.project-info{
    padding: 1em;
    text-align: left;

}

.project-script{
    font-size: 2em;
    font-weight: 700;
    color: #E96228;
}

.project-CSS{
    font-size: 2em;
    font-weight: 700;
    color: #2862E9;
}

.project-JS{
    font-size: 2em;
    font-weight: 700;
    color: #F6D33A;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
    white-space: nowrap;

}

.Start{
    text-decoration: none;
    color: #0D7BF2;
    font-size: 1.5em;
    padding-top: 5pxt;
}

.Start:hover{
    color:#14F44A;
}


.content .project-card{
    box-shadow: 0 5px 25px rgba(1, 1, 1 ,50%);
    border-radius: 15px;
}

.white{
    background-color: #fff;
    text-align: center;
    color: #0D7BF2;
    font-size: 23px;
    padding-top: 10px;
}

.C-Card{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    min-height: 6em;
    width: 17em;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.7s ease;
    margin-bottom: 60PX;
}

.C-Card:hover{
    transform: scale(1.1);
}


.Contact-title{
    display: inline-block;
    letter-spacing: 1px;
    padding: 1em 2em;
}

.footer{
    background-color: #0D7BF2;
    color: #ffffff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.content .C-Card{
    box-shadow: 0 5px 25px rgba(1, 1, 1 ,50%);
    border-radius: 15px;
}

.footer-title{
    font-size: 1.0em;
    font-weight: 600;
}

.footer-titleAr{
    font-size: 0.8em;
    font-weight: 600;
    color: #ffffff;

}
.footer-titleAr span{
    color: #14F44A;
}
.footer .IconAr{
    font-size: 0.8em;
    padding: 0 12px 0 0;
}
.footer-title span{
    color:#fff  ;
}

.footer .social-icons a{
    font-size: 1.0em;
    padding: 0 12px 0 0;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navgiation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
    }
}