@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Shizuru&family=Tajawal:wght@300;400&display=swap');

*{
    font-family: "Tajawal", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navgiation a{
   color: #000;
   text-decoration: none;
   font-size: 1.4em;
   font-weight: 500;
   padding-left: 30px;
}

.navgiation a:hover{
    color: #0D7BF2;
}

.First{
    text-align: center;
    font-size: 38px;
    margin-bottom: 20px;
    color: #0D7BF2;
    padding-right: 10px;
    margin-top: 20px;
}

.links{
    text-align: right;
    text-decoration: none;
    font-size: 36px;
    padding-right: 10px;
    margin-top: 10px;
}

.links a{
    text-decoration: none;
    font-size: 35px;
    color: slateblue;
    margin-top: 10px;
}

.links a:hover{
    color: #0D7BF2;
}