*{
	margin:0;
	padding:0;
  }
  body {
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size:16px;
  }
  .mobile-menu {
	display:block;
	width:100%;
  background: #0D7BF2;
  line-height: 1.6em;
  font-weight: 400;
  width:100%;
  font-size: 20px;
  text-align:center;
	  position: relative;
	margin:0 auto;
  }
  /*Strip the ul of padding and list styling*/
  .mobile-menu ul {
	  list-style-type:none;
	margin: 0 auto;
	padding-left:0;
	text-align:center;
	width:100%;
	position: absolute;
	background: #0D7BF2;
  }
  
  /*Create a horizontal list with spacing*/
  .mobile-menu li {
	  display:inline-block;
	  /*float: left;
	  margin-right: 1px;*/
  }
  
  /*Style for menu links*/
  .mobile-menu li a {
	  display:block;
	  min-width:140px;
	  text-align: center;
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  color: #fff;
	text-transform:uppercase;
	  background: #0D7BF2;
	  text-decoration: none;
	margin-left:-5px;
	padding: 10px 0;  
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  }
  
  /*Hover state for top level links*/
  .mobile-menu li:hover a {
	  color: black;
	background-color:#ccddee;
  }
  
  /*Style for dropdown links*/
  .mobile-menu li:hover ul a {
	  background: #f3f3f3;
	  color: #2f3036;
	  height: 40px;
	  line-height: 40px;
  }
  
  /*Hover state for dropdown links*/
  .mobile-menu li:hover .mobile-menu ul a:hover {
	  color: #0D7BF2;
  }
  
  /*Hide dropdown links until they are needed*/
  .mobile-menu li ul {
	  display: none;
  }
  
  /*Make dropdown links vertical*/
  .mobile-menu li ul li {
	  display: block;
	  float: none;
  }
  
  /*Prevent text wrapping*/
  .mobile-menu li ul li a {
	  width: auto;
	  min-width: 100px;
	  padding: 0 20px;
  }
  
  
  /*Style 'show menu' label button and hide it by default*/
  .mobile-menu .show-menu {
	  text-decoration: none;
	  color: #fff;
	  background: #0D7BF2;
	  text-align: center;
	  padding: 10px 15px;
	  display: none;
	cursor: pointer;
	text-transform: uppercase;
  }
  
  .mobile-menu .show-menu span{
	 padding-left: 25px;
  }
  
  /*Hide checkbox*/
  .mobile-menu input[type=checkbox]{
	  display: none;
  }
  
  /*Show menu when invisible checkbox is checked*/
  .mobile-menu input[type=checkbox]:checked ~ #menu{
	  display: block;
  }
  
  /*Responsive Styles*/
  
  @media screen and (max-width : 800px){
	.mobile-menu .lines {
	  border-bottom: 15px double #f8f8f8; 
	  border-top: 5px solid #f8f8f8; 
	  content:"";
	  height: 5px; 
	  width:20px;
	  padding-right:15px;
	float: right;
  }
	  /*Make dropdown links appear inline*/
	  .mobile-menu ul {
		  position: static;
		  display: none;
	  }
	  /*Create vertical spacing*/
	  .mobile-menu li {
		  margin-bottom: 1px;
	  }
	  /*Make all menu links full width*/
	  .mobile-menu ul li, .mobile-menu li a {
		  width: 100%;
	  }
	  /*Display 'show menu' link*/
	  .mobile-menu .show-menu {
		  display:block;
	  }
  }

  .float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

.hr{
	border: 2px #0D7BF2 solid;
}


.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.card {
    height: 355px;
    width: 250px;
    background-color: #18223B;
    border-radius: 12px;
    color: white;
    padding: 20px
}

.firstrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.firstrow span:nth-child(1) {
    font-size: 10px;
    font-family: 'Poppins', sans-serif
}

.firstrow span:nth-child(2) {
    font-size: 33px;
    font-weight: 600;
    margin-top: 3px;
    font-family: 'Poppins', sans-serif
}

.mediumrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border: 4px #1B51DA solid;
    border-radius: 3px;
    margin-top: 5px;
}

.mediumrow img {
    width: 230px;
    height: 180px;
    padding: 12px 0px
}

.mediumrow:hover img {
    transform: scale(0);
    transition: all 0.5s
}

.mediumrow .content {
    height: 180px;
    width: 180px;
    border: 1px solid white;
    background-color: #2C79F3;
    position: absolute;
    transform: scale(0) rotate(-180deg);
    padding: 14px;
    box-sizing: border-box;
    transition: all 0.5s;
    font-weight: 500;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px
}

.mediumrow:hover .content {
    opacity: 1;
    transform: scale(1) rotate(0deg);
    transition-delay: 0.5s
}

.lastrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.lastrow p {
    font-size: 10px;
    padding-bottom: 12px
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center
}

.boxes span:nth-child(1) {
    height: 15px;
    width: 25px;
    border-radius: 4px;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 900;
    margin-right: 20px
}

.boxes span:nth-child(2) {
    height: 15px;
    width: 25px;
    border-radius: 4px;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 900
}

.boxes span:nth-child(3) {
    height: 15px;
    width: 25px;
    border-radius: 4px;
    background-color: #fff;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 900;
    margin-left: 20px
}

.lastrow button {
    margin-top: 1px;
    height: 35px;
    width: 120px;
    border-radius: 7px;
    background-color: #1B51DA;
    color: white;
    transition: all 1s;
    cursor: pointer;
    border: none;
    width: 100px;
    height: 60px;
}

button:hover {
    background-color: green;
    font-size: 18px
}

.price{
    font-size: 30px;
    text-align: center;
}

.buy{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


p {
  font-size: 13px;
}
	
.headingcaption {
  color: #202569;
  text-align: center;
  font-size: 2.3em;
  text-transform: uppercase;
  padding: 40px 20px;
}

.boxtitle {
  width: 100%;
  color: #202569;
  margin: 0;
  text-align: center;
  position: absolute;
  top: -20px;
  z-index: 1;
  font-size: 2em;
}

.boxtitle span {
  background-color: #fff;
  padding-left: 10px;
  padding-right: 10px;
}

.savonatrim {
  background-color: #a10000;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  margin-top: 20px;
}

.savonabox {
  background-color: #fff;
  color: #000;
  margin-top: 3px;
  padding: 20px;
  font-size: 1.2em;
}

.wyndhamtrim {
  background-color: #a10000;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  margin-top: 20px;
}

.wyndhambox {
  background-color: #fff;
  color: #000;
  margin-top: 3px;
  padding: 20px;
  font-size: 1.2em;
}

.logocenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 20px 0;
}

.limitfooter {
  font-size: 1.5em;
  color: #000;
  text-align: center;
  padding: 30px 0;
}

#quantity {
  font-size: 1.2em;
  color: #202569;
  font-weight: 600;
  text-align: center;
  padding: 10px 0;
}

#storenearyou {
  font-size: 1.1em;
  color: #202569;
  font-weight: 600;
  text-align: center;
  padding: 10px 0 20px 0;
  text-transform: uppercase;
}

.flip-clock-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc;
}

.flip-clock-wrapper a:hover {
  color: #fff;
}

.flip-clock-wrapper ul {
  list-style: none;
}

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table;
}

.flip-clock-wrapper.clearfix:after {
  clear: both;
}

.flip-clock-wrapper.clearfix {
  *zoom: 1;
}

/* Main */
.flip-clock-wrapper {
  font: normal 10px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none;
}

.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important;
}

.flip-clock-meridium a {
  color: #313333;
}

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 1em;
}

.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.flip-clock-wrapper:after {
  clear: both;
}

/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: 60px;
  height: 90px;
  font-size: 80px;
  font-weight: bold;
  line-height: 87px;
  border-radius: 6px;
  background: #000;
}

.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 87px;
  text-decoration: none !important;
}

.flip-clock-wrapper ul li:first-child {
  z-index: 2;
}

.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important;
}

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 80px;
  overflow: hidden;
  outline: 1px solid transparent;
}

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0;
}

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}

.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #333;
  border-radius: 6px;
  font-size: 70px;
}

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0;
}

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0;
}

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3;
}

.flip-clock-wrapper .flip {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.01s 0.49s linear both;
  -moz-animation: asd 0.01s 0.49s linear both;
  animation: asd 0.01s 0.49s linear both;
  z-index: 5;
}

.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100px;
}

.flip-clock-divider:first-child {
  width: 0;
}

.flip-clock-dot {
  display: block;
  background: #323434;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 5px;
}

.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -85px;
  color: black;
  text-shadow: none;
}

.flip-clock-divider.hours .flip-clock-label {
  right: -89px;
}

.flip-clock-divider.minutes .flip-clock-label {
  right: -93px;
}

.flip-clock-divider.seconds .flip-clock-label {
  right: -94px;
}

.flip-clock-dot.top {
  top: 30px;
}

.flip-clock-dot.bottom {
  bottom: 30px;
}

@-webkit-keyframes asd {
  0% {
    z-index: 2;
  }

  100% {
    z-index: 4;
  }
}

@-moz-keyframes asd {
  0% {
    z-index: 2;
  }

  100% {
    z-index: 4;
  }
}

@-o-keyframes asd {
  0% {
    z-index: 2;
  }

  100% {
    z-index: 4;
  }
}

@keyframes asd {
  0% {
    z-index: 2;
  }

  100% {
    z-index: 4;
  }
}

.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both;
}

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg);
  }

  100% {
    -webkit-transform: rotateX(0deg);
  }
}

@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg);
  }

  100% {
    -moz-transform: rotateX(0deg);
  }
}

@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg);
  }

  100% {
    -o-transform: rotateX(0deg);
  }
}

@keyframes turn {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both;
}

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg);
  }

  100% {
    -webkit-transform: rotateX(-90deg);
  }
}

@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg);
  }

  100% {
    -moz-transform: rotateX(-90deg);
  }
}

@-o-keyframes turn2 {
  0% {
    -o-transform: rotateX(0deg);
  }

  100% {
    -o-transform: rotateX(-90deg);
  }
}

@keyframes turn2 {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(-90deg);
  }
}

.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3;
}

/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0.1)),
    color-stop(100%, black)
  );
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0.1)),
    color-stop(100%, black)
  );
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both;
}

/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, black),
    color-stop(100%, rgba(0, 0, 0, 0.1))
  );
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
}

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, black),
    color-stop(100%, rgba(0, 0, 0, 0.1))
  );
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,700,700i");
.count-up-section {
  color: #222;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.48;
  padding: 5vh 0 0 0;
}
.copyright.text-center {
  text-align: center;
}
.count-up-section .style-point {
  color: #000;
  font-size: 38px;
}
.count-up-section .style-point span {
  background-color: #3e4b99;
  background-image: -moz-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: -webkit-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: -o-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: -ms-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  color: #fff;
  border-radius: 50%;
  display: block;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 54px;
}
.count-up-section .colorfont {
  color: #0147fe;
}
#count-up-section6.count-up-section {
  background-color: #000;
  max-width: 100%;
}
.flipTimemodulesboxes {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 15px;
}
.darkbgFlip h2.style-point {
  color: #fff;
}
.flipTimebox {
  margin: 50px auto 100px;
}

/*days, hours, minutes, seconds styling*/
.flipTimebox .flip-clock-divider .flip-clock-label {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: arial;
}
.flipTimebox .flip-clock-wrapper ul li a div.up:after {
  background-color: rgba(128, 128, 128, 0.5);
}
.flipTimebox .flip-clock-wrapper .flip-clock-meridium a {
  color: #fff;
  background-color: #333333;
  border-radius: 6px;
}
.flipclock1message,
.flipclock2message,
.flipclock3message,
.flipclock4message,
.flipclock5message,
.flipclock6message,
.flipclock14message {
  padding-left: 15px;
  color: #ff0000;
}
.darkbgFlip .flip-clock-divider .flip-clock-label {
  color: #fff;
}
.flipTimebox .orangetheme.flip-clock-wrapper ul li a div div.inn {
  color: #fff;
  background-color: #fb9902;
}
.flipTimebox .orangetheme .flip-clock-dot {
  background-color: #fb9902;
  box-shadow: none;
}
.flipTimebox .orangetheme.flip-clock-wrapper .flip-clock-meridium a {
  color: #fff;
  background-color: #fb9902;
  border-radius: 6px;
}
.flipTimebox .orangetheme.flip-clock-wrapper ul li a div.up:after {
  background-color: rgba(250, 250, 250, 0.5);
}
.flipTimebox .darkorangetheme.flip-clock-wrapper ul li a div div.inn {
  color: #fff;
  background-color: #fd5308;
}
.flipTimebox .darkorangetheme .flip-clock-dot {
  background-color: #fd5308;
  box-shadow: none;
}
.flipTimebox .darkorangetheme.flip-clock-wrapper .flip-clock-meridium a {
  color: #fff;
  background-color: #fd5308;
  border-radius: 6px;
}
.flipTimebox .darkorangetheme.flip-clock-wrapper ul li a div.up:after {
  background-color: rgba(250, 250, 250, 0.5);
}
.flipTimebox .bluetheme.flip-clock-wrapper ul li a div div.inn {
  color: #fff;
  background-color: #0147fe;
}
.flipTimebox .bluetheme .flip-clock-dot {
  background-color: #0147fe;
  box-shadow: none;
}
.flipTimebox .bluetheme.flip-clock-wrapper .flip-clock-meridium a {
  color: #fff;
  background-color: #0147fe;
  border-radius: 6px;
}
.flipTimebox .bluetheme.flip-clock-wrapper ul li a div.up:after {
  background-color: rgba(250, 250, 250, 0.5);
}
.flipTimebox .greentheme.flip-clock-wrapper ul li a div div.inn {
  color: #fff;
  background-color: #23a929;
}
.flipTimebox .greentheme .flip-clock-dot {
  background-color: #23a929;
  box-shadow: none;
}
.flipTimebox .greentheme.flip-clock-wrapper .flip-clock-meridium a {
  color: #fff;
  background-color: #23a929;
  border-radius: 6px;
}
.flipTimebox .greentheme.flip-clock-wrapper ul li a div.up:after {
  background-color: rgba(250, 250, 250, 0.5);
}
.flipTimebox .redtheme.flip-clock-wrapper ul li a div div.inn {
  color: #fff;
  background-color: #d81e1e;
}
.flipTimebox .redtheme .flip-clock-dot {
  background-color: #d81e1e;
  box-shadow: none;
}
.flipTimebox .redtheme.flip-clock-wrapper .flip-clock-meridium a {
  color: #fff;
  background-color: #d81e1e;
  border-radius: 6px;
}
.flipTimebox .redtheme.flip-clock-wrapper ul li a div.up:after {
  background-color: rgba(250, 250, 250, 0.5);
}
.flipTimebox .pinktheme.flip-clock-wrapper ul li a div div.inn {
  color: #fff;
  background-color: #8501ad;
}
.flipTimebox .pinktheme .flip-clock-dot {
  background-color: #8501ad;
  box-shadow: none;
}
.flipTimebox .pinktheme.flip-clock-wrapper .flip-clock-meridium a {
  color: #fff;
  background-color: #8501ad;
  border-radius: 6px;
}
.flipTimebox .pinktheme.flip-clock-wrapper ul li a div.up:after {
  background-color: rgba(250, 250, 250, 0.5);
}
.flipTimebox .purpletheme.flip-clock-wrapper ul li a div div.inn {
  color: #fff;
  background-color: #a7194b;
}
.flipTimebox .purpletheme .flip-clock-dot {
  background-color: #a7194b;
  box-shadow: none;
}
.flipTimebox .purpletheme.flip-clock-wrapper .flip-clock-meridium a {
  color: #fff;
  background-color: #a7194b;
  border-radius: 6px;
}
.flipTimebox .purpletheme.flip-clock-wrapper ul li a div.up:after {
  background-color: rgba(250, 250, 250, 0.5);
}
.flipTimebox .coffeetheme.flip-clock-wrapper ul li a div div.inn {
  color: #fff;
  background-color: #7b5a26;
}
.flipTimebox .coffeetheme .flip-clock-dot {
  background-color: #7b5a26;
}
.flipTimebox .coffeetheme.flip-clock-wrapper .flip-clock-meridium a {
  color: #fff;
  background-color: #7b5a26;
  border-radius: 6px;
}
.flipTimebox .coffeetheme.flip-clock-wrapper ul li a div.up:after {
  background-color: rgba(250, 250, 250, 0.5);
}
.flipTimebox .gradienttheme.flip-clock-wrapper ul li a div div.inn {
  color: #fff;
  background-color: #3e4b99;
  background-image: -moz-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: -webkit-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: -o-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: -ms-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
}
.flipTimebox .gradienttheme .flip-clock-dot {
  box-shadow: none;
  background-color: #3e4b99;
  background-image: -moz-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: -webkit-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: -o-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: -ms-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
}
.flipTimebox .gradienttheme.flip-clock-wrapper .flip-clock-meridium a {
  color: #fff;
  border-radius: 6px;
  background-color: #3e4b99;
  background-image: -moz-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: -webkit-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: -o-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: -ms-linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
  background-image: linear-gradient(90deg, #3e4b99 10%, #d81e1e 100%);
}
.flipTimebox .gradienttheme.flip-clock-wrapper ul li a div.up:after {
  background-color: rgba(250, 250, 250, 0.5);
}
.flipTimebox .gradienttheme2.flip-clock-wrapper ul li a div div.inn {
  color: #fff;
  background-color: #0147fe;
  background-image: -moz-linear-gradient(270deg, #0147fe 0%, #23a929 100%);
  background-image: -webkit-linear-gradient(270deg, #0147fe 0%, #23a929 100%);
  background-image: -o-linear-gradient(270deg, #0147fe 0%, #23a929 100%);
  background-image: -ms-linear-gradient(270deg, #0147fe 0%, #23a929 100%);
  background-image: linear-gradient(270deg, #0147fe 0%, #23a929 100%);
}
.flipTimebox .gradienttheme2 .flip-clock-dot {
  box-shadow: none;
  background-color: #0147fe;
  background-image: -moz-linear-gradient(270deg, #0147fe 0%, #23a929 100%);
  background-image: -webkit-linear-gradient(270deg, #0147fe 0%, #23a929 100%);
  background-image: -o-linear-gradient(270deg, #0147fe 0%, #23a929 100%);
  background-image: -ms-linear-gradient(270deg, #0147fe 0%, #23a929 100%);
  background-image: linear-gradient(270deg, #0147fe 0%, #23a929 100%);
}
.flipTimebox .gradienttheme2.flip-clock-wrapper .flip-clock-meridium a {
  color: #fff;
  border-radius: 6px;
  background-color: #0147fe;
  background-image: -moz-linear-gradient(270deg, #0147fe 0%, #23a929 100%);
  background-image: -webkit-linear-gradient(270deg, #0147fe 0%, #23a929 100%);
  background-image: -o-linear-gradient(270deg, #0147fe 0%, #23a929 100%);
  background-image: -ms-linear-gradient(270deg, #0147fe 0%, #23a929 100%);
  background-image: linear-gradient(270deg, #0147fe 0%, #23a929 100%);
}
.flipTimebox .gradienttheme2.flip-clock-wrapper ul li a div.up:after {
  background-color: rgba(250, 250, 250, 0.5);
}
.flipTimebox .whitetheme.flip-clock-wrapper ul li a div div.inn {
  color: #0147fe;
  background-color: #fff;
}
.flipTimebox .whitetheme .flip-clock-dot {
  background-color: #fff;
  box-shadow: none;
}
.flipTimebox .whitetheme.flip-clock-wrapper .flip-clock-meridium a {
  color: #0147fe;
  background-color: #fff;
  border-radius: 6px;
}
.flipTimebox .whitetheme.flip-clock-wrapper ul li a div.up:after {
  background-color: rgba(128, 128, 128, 0.5);
}
@media screen and (max-width: 767px) {
  .flipTimebox .flip-clock-wrapper ul {
    height: 50px;
    line-height: 50px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    line-height: 50px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div.up:after {
    top: 24px;
  }
  .flipTimebox .flip-clock-divider {
    height: 50px;
  }
  .flipTimebox .flip-clock-dot {
    height: 6px;
    width: 6px;
    left: 7px;
  }
  .flipTimebox .flip-clock-dot.top {
    top: 17px;
  }
  .flipTimebox .flip-clock-dot.bottom {
    bottom: 8px;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -58px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -62px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -68px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -69px;
  }
  .flipTimebox .flip-clock-wrapper ul {
    width: 37px;
    margin: 2px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div div.inn {
    font-size: 38px;
  }
  .flipTimebox .flip-clock-meridium {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 568px) {
  .flipTimebox .flip-clock-wrapper ul {
    margin: 2px;
  }
  .flipTimebox .flip-clock-divider {
    width: 5px;
  }
  .flipTimebox .flip-clock-dot {
    height: 5px;
    width: 5px;
    left: 0;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -58px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -62px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -68px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -69px;
  }
  .flipTimebox .flip-clock-meridium {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 480px) {
  .flipTimemodulesboxes {
    padding: 0;
  }
  .flipTimebox .flip-clock-divider .flip-clock-label {
    font-size: 1em;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -33px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: -37px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: -43px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: -45px;
  }
  .flipTimebox .flip-clock-wrapper ul li a div div.inn {
    font-size: 28px;
  }
  .flipTimebox .flip-clock-meridium {
    font-size: 14px !important;
  }
  .flipTimebox .flip-clock-wrapper ul.flip {
    width: 27px;
    background-color: transparent;
    box-shadow: none;
    margin-left: -8px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    width: 30px;
  }
  .flipTimebox .flip-clock-dot {
    margin-left: -10px;
  }
  .flipTimebox {
    margin: 50px 0 100px 20px;
  }
}
@media screen and (max-width: 360px) {
  .flipTimebox .flip-clock-divider .flip-clock-label {
    font-size: 1em;
    width: 3px;
  }
  .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: -1px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: 2px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: 6px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: 9px;
  }
  .flipTimebox .flip-clock-wrapper ul.flip {
    width: 25px;
    margin-left: -14px;
  }
  .flipTimebox .flip-clock-wrapper {
    padding-left: 5px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    width: 25px;
  }
  .flipTimebox .flip-clock-dot {
    margin-left: -16px;
  }
  .flipTimebox {
    margin: 50px 0 100px 20px;
  }
}
@media screen and (max-width: 320px) {
  .flipTimebox .flip-clock-wrapper {
    padding-left: 5px;
  }
  .flipTimebox .flip-clock-wrapper ul.flip {
    width: 22px;
    margin-left: -16px;
  }
  .flipTimebox .flip-clock-wrapper ul li {
    width: 22px;
  }
  .flipTimebox .flip-clock-dot {
    margin-left: -18px;
  }
    .flipTimebox .flip-clock-divider.days .flip-clock-label {
    right: 3px;
  }
  .flipTimebox .flip-clock-divider.hours .flip-clock-label {
    right: 6px;
  }
  .flipTimebox .flip-clock-divider.minutes .flip-clock-label {
    right: 11px;
  }
  .flipTimebox .flip-clock-divider.seconds .flip-clock-label {
    right: 14px;
  }
}
